.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navBack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-weight: bold;
  text-decoration: none;
}

.navAction {
  margin: 1rem 0 0 0;
}

.navIcon {
  size: 150px;
}

